/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.svn
*.md
**/*.xls
**/*.xlsx
*.demo.php
# GENERATED MIX FILES
/public/css
/public/js/pages
/public/js/laravel.app.js
/public/js/oneui.app.js
/public/mix-manifest.json
